.documentVerbiage {
    width: 100%!important;
}
/*#region .document1-Section1 */
.document1-Section1 {
  margin: auto!important;
  width: 100%;
  padding: 8% 0;
}
.document1-Section1 table {
  margin: 10px 0px !important;
  width: 100%!important;
  border-radius: 0px;
}
.document1-Section1 p {
  /*font-size: 13px!important;*/
}
.document1-Section1 div:last-child  p:last-child{
  display: none;
}
/*#endregion */

/*#region .document2-Section1 */
.document2-Section1 {
  margin: auto!important;
  width: 100%;
  padding: 8% 0;
}
.document2-Section1 div:last-child p:last-child{
  display: none;
}
/*#region .document3-Section1 */
.document3-Section1 {
  margin: auto!important;
  width: 100%;
  padding: 8% 0;
}
.document3-Section1 table {
  width: 100%!important;
  margin: 10px 0px !important;
  border-radius: 0px;
}
.document3-Section1 table:nth-of-type(1) {
    border: 2.75pt solid #000000!important;
} 
.document3-Section1 table:nth-of-type(1) table {
    border: 2px solid #000000!important;
}
.document3-Section1 div:last-child  p:last-child{
  display: none;
}

/*#region ca-i01-ecommerce-lender-privacy-policy-english-1799-Section1*/
.document-text div table {
  width: 100% !important;
}

div.ca-i01-ecommerce-lender-privacy-policy-english-1799-Section1 table tr {
  height: auto !important;
}

@media only screen and (max-width: 600px) {
  div.ca-i01-ecommerce-lender-privacy-policy-english-1799-Section1 .tabla-4 tr:nth-child(2) td:first-child {
      height: 8rem !important;
  }
}

/*#endregion */

@media only screen and (max-width: 320px) {
  .document1-Section1 table:first-child tr td {
    max-width: fit-content!important
  }    
  .document1-Section1 table:nth-of-type(1) tr td {
     max-width: 66px;
  }  
  .document1-Section1 div:nth-of-type(2) table tr td p {
    font-size: 9.5px!important;
}
}
@media only screen and (max-width: 480px) {

  /*#region Responsive ca-i01-ecommerce-deferred-deposit-agreement-english-2092-Section1 */
   .document1-Section1 table {
      display: block;
      width: 100%!important;
    }
  .document1-Section1 p {
    /*font-size: 3.13vw!important;*/
   }

  /*.document1-Section1 table tr td
  {
      width: 100% !important;
      padding-right: 0px !important;
      padding-left: 0px !important;
  }*/
  /*#endregion */
.document1-Section1 div:nth-of-type(1) table tr td p {
    font-size: 3vw!important;
}
.document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p {
    display:flex;
}
.document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p span {
    font-size: 2.8vw;
}
.document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p:nth-of-type(2) span:nth-of-type(1) {
    font-size: 2.3vw;
    width: 10vw;
}
.document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p:nth-of-type(2) span:nth-of-type(2) {
    display:none!important;
}
.document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p:nth-of-type(3) span:first-child, .document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p:nth-of-type(3) span:nth-of-type(2), .document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p:nth-of-type(4) span:first-child,  .document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p:nth-of-type(4) span:nth-of-type(2), .document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p:nth-of-type(5) span:first-child,  .document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p:nth-of-type(5) span:nth-of-type(2), .document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p:nth-of-type(6) span:first-child,  .document1-Section1 div:nth-of-type(1) table tr:first-child td:nth-of-type(2) p:nth-of-type(6) span:nth-of-type(2)   {
    width: 5vw!important;
}
.document1-Section1 div:nth-of-type(1) table tr:nth-of-type(1) td:first-child p {
    display:flex;
}
.document1-Section1 div:nth-of-type(1) table tr td:first-child p span:nth-of-type(1){
    width:30%!important;
}
.document1-Section1 div:nth-of-type(1) table tr td:first-child p span:nth-of-type(2){
    width:100%;
}
.document1-Section1 div:nth-of-type(1) table tr:nth-of-type(2) td:nth-of-type(2) p span:nth-of-type(3) {
    display:none!important;
}
.document1-Section1 div:nth-of-type(1) table tr:nth-of-type(2) td:first-child p:first-child span:nth-of-type(2) {
    width:10vw!important;
}
.document1-Section1 table:nth-of-type(1) tr td p {
    /*font-size: 1.9vw!important;*/
}
.document1-Section1 table:nth-of-type(1) tr:nth-of-type(2) td p {
    margin-top: 2px!important;
}
.document1-Section1 table:nth-of-type(1) tr:nth-of-type(2) td {
    padding: 0.3em 0.1em 0.1em!important;
}
.document1-Section1 table:nth-of-type(1) tr td {
    padding: 0.2em!important;
    width: 25%!important;
}
.document1-Section1 table:nth-of-type(2) {
  border-style: none!important;
  box-shadow: none;
}
.document1-Section1 table:nth-of-type(2) tr td {
  border-style: none!important;
}

/*Region responsive document3-Section1*/
.document3-Section1 table {
    display: block;
}
.document3-Section1 table:nth-of-type(1) table {
    display: block;
    max-width: 100%;
}
.document3-Section1 table:nth-of-type(1) table:first-child tr td{
    max-width: 20vw;
    overflow-wrap: break-word;
}
.document3-Section1 table:nth-of-type(1) table:last-child tr td {
    max-width: 8em!important;
}
.document3-Section1 ol li {
    margin-left: 10pt!important;
    padding-left: 0pt!important;
}
}
